This project is a diabetes prediction model using Python for Machine Learning

Importing dependencies

In [30]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score
from fastai.vision.widgets import *

# Collecting and Analysing Data

PIMA Diabetes Dataset

In [4]:
# Printing first rows of the dataset
diabetes_dataset = pd.read_csv('/content/diabetes.csv')
diabetes_dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [5]:
# Number of rows and columns of the dataset
diabetes_dataset.shape

(768, 9)

In [6]:
# statistical measures of the dataset
diabetes_dataset.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [7]:
# returns how many people from dataset were diagnosed (1)
diabetes_dataset['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [8]:
# showing outcome from different categories
diabetes_dataset.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

# Separating Data and Labels

In [11]:
# separating data and labels
X = diabetes_dataset.drop(columns = 'Outcome', axis=1) # data except outcome
Y = diabetes_dataset['Outcome'] # outcome

In [12]:
print(X)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age
0                       0.627   50
1                       0.351   31
2                       0.672   32
3                       0.167   21
4                       2.288   33
..                        ...  ...
763                     0.171   63
764                     0.340   27
765                     0.245   30
766                     0.349   47
767                     0.315   23

[768 rows x 8 columns]

In [13]:
print(Y)

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

# Data Standardization

Using `StandardScaler` function to fit all the "inconsistent" data and to tranform to a commom range (0-1)

In [14]:
scaler = StandardScaler()
scaler.fit(X)

StandardScaler()

In [15]:
standardized_data = scaler.transform(X)
standardized_data

array([[ 0.63994726,  0.84832379,  0.14964075, ...,  0.20401277,
         0.46849198,  1.4259954 ],
       [-0.84488505, -1.12339636, -0.16054575, ..., -0.68442195,
        -0.36506078, -0.19067191],
       [ 1.23388019,  1.94372388, -0.26394125, ..., -1.10325546,
         0.60439732, -0.10558415],
       ...,
       [ 0.3429808 ,  0.00330087,  0.14964075, ..., -0.73518964,
        -0.68519336, -0.27575966],
       [-0.84488505,  0.1597866 , -0.47073225, ..., -0.24020459,
        -0.37110101,  1.17073215],
       [-0.84488505, -0.8730192 ,  0.04624525, ..., -0.20212881,
        -0.47378505, -0.87137393]])

In [16]:
X = standardized_data
Y = diabetes_dataset['Outcome']

In [17]:
print(X)
print(Y)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

# Splitting data in train and test groups

20% of the dataset is used for testing and the other 805% is used for training the model

In [18]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=1)

In [19]:
print(X.shape, X_train.shape, X_test.shape) # verifying number of rows and columns from split

(768, 8) (614, 8) (154, 8)

Training the Model

In [20]:
classifier = svm.SVC(kernel='linear') # using support vector machine

In [22]:
# training the support vector machine classifier
classifier.fit(X_train, Y_train)

SVC(kernel='linear')

# Model Evaluation

Verifying Accuracy Score

In [24]:
# training data
X_train_predict = classifier.predict(X_train)
train_data_accuracy = accuracy_score(X_train_predict, Y_train) # comparing

# printing
print('Acccuracy score of the training data: ', train_data_accuracy)

Acccuracy score of the training data:  0.7833876221498371

In [25]:
# test data
X_test_predict = classifier.predict(X_test)
test_data_accuracy = accuracy_score(X_test_predict, Y_test)

# printing
print('Acccuracy score of the test data: ', test_data_accuracy)

Acccuracy score of the test data:  0.7792207792207793

# Making a Predictive System

Taking user's input

In [28]:
print('Answer with numbers, with  0 = no and 1 = yes, when necessary')
pregnancie = input('How many times are you pregnant? ')
glucose = input('What is your glucose level? ')
bloodPressure = input('What is your blood pressure? ')
skinThickness = input('Skinthickness: ')
insulin = input('How are your insulin level? ')
bmi = input('What is your BMI? ')
diabetesPedigreeFunction = input('Diabetes pedigree function')
age = input('How old are you? ')1

Answer with numbers, with  0 = no and 1 = yes, when necessary
Are you pregnant? 5
What is your glucose level? 166
What is your blood pressure? 72
Skinthickness: 19
How are your insulin level? 175
What is your BMI? 25.8
Diabetes pedigree function0.587
How old are you? 51

Predicting and Showing Result

In [29]:
input_data = (pregnancie, glucose, bloodPressure, skinThickness, insulin, bmi, diabetesPedigreeFunction, age)

# chaging input data to numpy array
input_data_np_array = np.asarray(input_data)

# reshaping array for one instance
input_data_reshaped = input_data_np_array.reshape(1, -1)

# standardize the input data
std_data = scaler.transform(input_data_reshaped)

# making prediction
prediction = classifier.predict(std_data)

if (prediction[0] == 0):
  print('The person is not diabetic')
else:
  print('The person is diabetic')

The person is diabetic

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(